#!/bin/bash

export JAVA_HOME="{{oracle_jdk_installation_dir}}/jdk{{oracle_jdk_version}}"
export CATALINA_OUT="{{tomcat_log_dir}}/catalina.out"

{% if tomcat_java_opts is defined %}
JAVA_OPTS="{{ tomcat_java_opts }}"
{% endif %}